
body {
    background-color: #0f001b;
    color: #fff;
}
/* Animations */
@keyframes slide-in {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0%);
    }
    }
  
    @keyframes slide-up {
      0% {
          opacity: 0;
          transform: translateY(20px);
      }
      100% {
          opacity: 1;
          transform: translateY(0);
      }
  }
  @keyframes popup {
    0%{
      transform: scale(1);
    }
    50%{
      transform: scale(1.4);
    }
    60%{
      transform: scale(1.1);
    }
    70%{
      transform: scale(1.2);
    }
    80%{
      transform: scale(1);
    }
    90%{
      transform: scale(1.1);
    }
    100%{
      transform: scale(1);
    }
  }
  @keyframes slideDown {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }
/* Header */
H1 {
    text-transform: uppercase;
    font-family: 'Noto Sans Symbols 2', sans-serif; 
    line-height: 0.8;
    font-size: 100px;
    display: flex; 
    margin-top: 115px;
    animation: slide-in 1000ms;
}

#background-video {
    width: 100vw;
  height: 25%;
  background-size: cover;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
/* Change City Button */
#change-city {
  font-family: 'Noto Sans Symbols 2', sans-serif;
  position: fixed;
  background-color: #000;
  display: flex;
  padding: 10px 25px;
  right: 10px; 
  top: 10px; 
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  transition: 0.5s;
  color: #e100ff;
  border: 1.5px solid #e100ff;
  border-radius: 7px;  
  font-weight: 600;
  letter-spacing: 7px;

}


#change-city:hover {
  background-color: #e100ff;
  color: #050801;
  box-shadow: 0px 0px 5px #e100ff, 0px 0px 25px #e100ff, 0px 0px 50px #e100ff, 0px 0px 100px #e100ff;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005); 
}


/* weather */
.weather-forecast {
  float: right;
  width: 50%;
  text-align: center;
  font-family: 'Noto Sans Symbols 2', sans-serif;
  background-color: rgba(0, 0, 0, 0.445);
    border-radius: 0.5px;
    max-width: 300px;
}

#city-name {
  text-transform: uppercase;
    font-family: 'Noto Sans Symbols 2', sans-serif; 
    font-size: 50px;
    color: #fff;  
}

/* displayed playlists*/ 

.displayed-playlists {
box-sizing: border-box;
float: left;
width: 70%;
text-align: center;
}

/* playlist flex container*/
.cards {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cards:after {
display: flex;
flex-wrap: wrap;
list-style: none;
margin: 0;
padding: 0;
}

/* unamed div in js */
.playlist-card {
  height: 200px;
  width: 23%;
  float: left;
  margin: 1%;
  padding: 20px;
  color: white;
  animation: slide-up 0.4s ease;
}


.playlist-title {
  margin: 0;
    font-weight: normal;
    font-size: 30px;
}

.preview-btn {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 0.5px;
  opacity: 0.8;
  transition: 0.3s;
}
/* playlist thumnail */
.thumbnail {

  
}

/* input modal */
#myModal {
  color:#ffffff;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  animation: popup 1000ms;
  /* visibility: hidden; */
  /* transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s; */
}

.modal-content1 {
  position: absolute;
  background-color: #000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   height: 70%;
    width: 70%;
    padding: 1rem 1.5rem;
    max-width: 90%;
    border: 1.5px solid #e100ff;
  border-radius: 7px;  
  box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;

}

h2 {
  text-transform: uppercase;
    font-family: 'Noto Sans Symbols 2', sans-serif; 
    line-height: 0.8;
    font-size: 20px;
    display: block; 
    margin-top: 105px;
    text-align: center;
    margin-top: 110px;
}

#location-search h2 {
  transform: translateY(-44px);
}
#city-input {
  color: #e100ff;
  margin: 10px auto;
  display: block;
  max-width: 400px;
  margin: 0 auto;
  padding: 1.4rem 2rem 1.6rem;
  background-color: rgba(37, 37, 37, 0.582);
  text-transform: uppercase;
    font-family: 'Noto Sans Symbols 2', sans-serif; 
    line-height: 0.8;
    font-size: 16px;
    font-weight: 700;
}

#city-input:hover {
  background-color: rgba(37, 37, 37, 0.582);
  color: #e100ff;
  box-shadow: 0px 0px 5px #e100ff, 0px 0px 5px #e100ff, 0px 0px 20px #e100ff, 0px 0px 100px #e100ff;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005); 
}

.search-list {
  position:relative;
  flex-wrap: wrap;
  flex-direction: row;
  list-style: none;
  list-style-position: inside;
  margin: auto;
  text-transform: uppercase;
  font-family: 'Noto Sans Symbols 2', sans-serif; 
  color: rgba(255, 255, 255, 0.315);
  
}

#genre-select {
  width: 250px;
      margin: 100px auto;
      position: relative;
      
}
select {
  width: 100%;
  height: 50px;
  font-family: 'Noto Sans Symbols 2', sans-serif; 
    line-height: 0.8;
    font-size: 15px;
    font-weight: 300;
    text-transform: uppercase;
  cursor: pointer;
  border-radius: 0;
  background-color:rgba(37, 37, 37, 0.582);
  border: none;
  border-bottom: 2px solid rgba(37, 37, 37, 0.582);
  color: white;
  padding: 7px;
  padding-right: 38px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  transition: color 0.3s ease, background-color 0.3s ease, border-bottom-color 0.3s ease;
  transform: translateY(-32px);
  border-radius: 0.5px;
}

select::-ms-expand {
  display: none; 
}
select:hover,
select:focus {
  background-color: rgba(37, 37, 37, 0.582);
  color: #e100ff;
  box-shadow: 0px 0px 5px #e100ff, 0px 0px 5px #e100ff, 0px 0px 20px #e100ff, 0px 0px 100px #e100ff;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005); 
}

#submit-selection {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  margin: 10px auto;
  font-size: 16px;
  cursor: pointer;
  border-radius: 0.5px;
  opacity: 0.8;
  transition: 0.3s;
  display: block;
}
.select-icon {
  display:inline-block;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 36px;
  pointer-events: none;
  border: 2px solid rgba(37, 37, 37, 0.582);
  padding-left: 5px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  transform: translateY(-15px);
}
.select-icon svg.icon {
  transition: fill 0.3s ease;
  fill: white;
}
select:hover ~ .select-icon svg.icon,
select:focus ~ .select-icon svg.icon {
  fill: rgba(37, 37, 37, 0.582);
}
#submit-selection:hover {
  background-color: #e100ff;
  color: #050801;
  box-shadow: 0px 0px 5px #e100ff, 0px 0px 25px #e100ff, 0px 0px 50px #e100ff, 0px 0px 100px #e100ff;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005); 
}
/* change city button */
#change-city:hover {
  background-color: #e100ff;
  color: #050801;
  box-shadow: 0px 0px 5px #e100ff, 0px 0px 25px #e100ff, 0px 0px 50px #e100ff, 0px 0px 100px #e100ff;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005); 
}
/* media queries */
@media only screen and (max-width: 600px) {
  #change-city {
    font-size: 14px;
    padding: 5px 10px;
    margin-right: 20px;
  }
}


@media (max-width: 767px) {
  .weather-forecast, .displayed-playlists {
    width: 100%;
    float: none;
  }
}
@media(max-width:767px) {
  .playlist-card {
      width: 100%;
      margin-right: 0;
      margin-left: 0;
  }
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
