
body {
    background-color: #0f001b;
    color: #fff;
}
@keyframes slide-in {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0%);
    }
    }
  
    @keyframes slide-up {
      0% {
          opacity: 0;
          transform: translateY(20px);
      }
      100% {
          opacity: 1;
          transform: translateY(0);
      }
  }


H1 {
    text-transform: uppercase;
    font-family: 'Noto Sans Symbols 2', sans-serif; 
    line-height: 0.8;
    font-size: 100px;
    display: block; 
    margin-top: 115px;
    animation: slide-in 1000ms;
}

#background-video {
    width: 100vw;
  height: 30%;
  background-size: cover;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

/* weather */
.weather-forecast {
  display: block;
  font-family: 'Noto Sans Symbols 2', sans-serif;
  background-color: rgba(0, 0, 0, 0.445);
    border-radius: 0.5px;
    max-width: 300px;
}

#city-name {
  text-transform: uppercase;
    font-family: 'Noto Sans Symbols 2', sans-serif; 
    font-size: 50px;
    color: #fff;  
}
.displayed-playlists {
box-sizing: border-box;
}

/* playlist flex container*/
.cards {
  padding: 20px;
}

.cards:after {
display: flex;
flex-wrap: wrap;
list-style: none;
margin: 0;
padding: 0;
}

/* unamed div in js */
.playlist-card {
  height: 200px;
  width: 23%;
  float: left;
  margin: 1%;
  padding: 20px;
  color: white;
  animation: slide-up 0.4s ease;
}
@media(max-width:767px) {
  .playlist-card {
      width: 100%;
      margin-right: 0;
      margin-left: 0;
  }
}

.playlist-title {
  margin: 0;
    font-weight: normal;
    font-size: 30px;
}

.preview-btn {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 0.5px;
  opacity: 0.8;
  transition: 0.3s;
}
/* playlist thumnail */
.thumbnail {
  
}